<template>

<article class="pv4 bt bb b--black-10 ph3 ph0-l" >
    <div class="flex flex-column flex-row-ns">
      <div class="w-100 w-60-ns pr3-ns order-1 order-1-ns">
        <h1 class="f3 athelas mt0 lh-title">
            {{podcast.title}}  
        </h1>   
      </div>
     
    </div>
    <p class="f6 lh-copy gray mv0"> 
            By <span class="ttu"> {{podcast.producerName}} </span>
            <span class="f6  gray"> on {{podcast.pubDate | date }}</span>
    </p>
    <div class="pl3-ns order-2 order-2-ns mb4 mb0-ns w-100 w-40-ns pa4 ma0 mh0">          
                <audio controls
                v-bind:src="podcast.mp3">
                Your browser does not support the <code>audio</code> element.
                </audio>           
      </div>
</article>

</template>

<script>
export default {
  props: ["id"],
  data: function() {
    return { podcast: {} };
  },
  methods: {
    load: function() {
      if (this.id) {
        const theId = this.id.split("-")[0];
        this.axios
          .get(`/api/shows/${theId}`)
          .then(resp => (this.podcast = resp.data))
          .catch(err => console.log(err));
      }
    }
  },
  created: function() {
    this.load();
  }
};
</script>